@import "./variables.css";


.naviContainer {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 0 80px;
    height: 96px;
    /* margin: 200px; */
    font-family: "Inter";
    font-weight: 600;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    background-color: var(--half-light-grey);
    /* border: 1px solid red; */
}

.homeLink{
    text-decoration: none;
    
}

.subpageLinks{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.naviLink {
    text-decoration: none;
}

.homeLogo {
    /* margin-left: 80px; */
    font-family: "Lora", serif;
    font-size: 64px;
    font-weight: 700;
    font-style: normal;
    color: var(--dark-blue);
}

.naviHeader {
    font: var(--text-navi);
    color: var(--dark-blue);
}

.naviUsername{
    min-width: 140px;
    position: relative;
    /* border: 1px solid red; */
}

.naviUserBtn {
    min-width: 140px;
    height: 50px;
    padding: 0 30px;
    /* margin-top: 5px; */
    border-radius: 8px;
    border: 1px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    font: var(--text-navi);
}


.naviUsername:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--light-blue);
    width: 100%;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu a {
    color: var(--grey);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-menu a:hover {
    color: var(--white);
    background-color: var(--dark-blue);
}
